<app-header></app-header>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let row">
        <a [routerLink]="['/dragons/details', row.id]" class='details-link'>
          {{row.name}}
        </a>
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <div fxLayout>
          <button mat-button [routerLink]="['/dragons/edit', row.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<!-- Add Button -->
<div fxLayout fxLayoutAlign="flex-end" class="add-button">
  <button
    mat-button
    mat-raised-button
    mat-icon-button
    mat-nini-fab
    color="primary"
    routerLink="/dragons/create"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
