<app-header></app-header>
<section fxLayout="row" fxLayoutAlign="center center" class="details-content">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Detalhes</mat-card-title>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="40px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Nome:</strong></div>
          <div fxFlex>{{dragon?.name}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Data de criação:</strong></div>
          <div fxFlex>{{dragon?.createdAt | date}}</div>
        </div>

        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Tipo:</strong></div>
          <div fxFlex>{{dragon?.type}}</div>
        </div>
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Histórias:</strong></div>
          <div fxFlex>
            <span *ngFor="let history of dragon?.histories">
              {{history}}
            </span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>