<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()"
  class='login-form'
  fxLayout.md="row"
  fxLayoutAlign="center center"
>
  <mat-card class='login-card'>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="100%">
          <mat-form-field class="full-width">
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
              Usuário é <strong>obrigatório</strong>
            </mat-error>
            <input matInput placeholder="Usuário" formControlName="username">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="100%">
          <mat-form-field class="full-width">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Senha é <strong>obrigatório</strong>
            </mat-error>
            <input matInput placeholder="Senha" formControlName="password" type='password'>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" class='mat-body mat-error' *ngIf="invalidCredentials">
        Usuário ou senha inválidos!
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</form>
