<app-header></app-header>
<form [formGroup]="dragonForm" novalidate (ngSubmit)="onSubmit()" fxLayoutAlign="center center">
  <mat-card class="form-card" fxFlex="500px" fxFlex.xs="100%">
    <mat-card-header>
      <mat-card-title *ngIf="creation">Cadastrar Dragão</mat-card-title>
      <mat-card-title *ngIf="!creation">Editar Dragão</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="name">
            <mat-error *ngIf="dragonForm.controls['name'].hasError('required')">
              O nome do dragão é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Tipo" formControlName="type">
            <mat-error *ngIf="dragonForm.controls['type'].hasError('required')">
              O tipo do dragão é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let history of dragonForm.get('histories').controls; let i = index;"
                (removed)="removeHistory(i)">
                {{history.value}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                [matChipInputFor]="chipList"
                placeholder="Nova história..."
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addHistory($event)"
              />
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">SALVAR</button>
    </mat-card-actions>
  </mat-card>
</form>